.header-contact {
  padding: 1.5rem 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-contact-item {
  text-transform: uppercase;
  font-weight: bold;
}

.header-contact-title {
  color: $contact-title-color;
}
