.notarial-container {
    padding: 60px 0;
    background-color: $primary;
    color: $secondary;
    display: flex;
    justify-content: center;
}

.notarial-content {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.notarial-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: 'EB Garamond', serif;
}

.notarial-actions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
    margin-bottom: 100px;
}

.action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 280px;
}

.icon {
    border-radius: 50%;
    margin: 0 auto 10px;
}

.icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.title {
    font-size: 1em;
    margin-bottom: 10px;
}
