<<<<<<< HEAD
.notarial-container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 60px 0;
}

.notarial-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: bold;
}

.notarial-actions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 50px;
}

.action-item {
    text-align: center;
    box-sizing: border-box;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.title {
    font-size: 1em;
    margin-bottom: 10px;
}

.custom-button {
    display: inline-block;
    width: 180px;
    height: 40px;
    background-color: #ec0d0d;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.custom-button:hover {
    background-color: #333;
=======
.notarial-container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 60px 0;
}

.notarial-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: bold;
}

.notarial-actions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 50px;
}

.action-item {
    text-align: center;
    box-sizing: border-box;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.title {
    font-size: 1em;
    margin-bottom: 10px;
}

.custom-button {
    display: inline-block;
    width: 180px;
    height: 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.custom-button:hover {
    background-color: #333;
>>>>>>> 24d26882094ae9e2f5f80f46cb35df32cd974ef9
}