.charge-section {
    background-color: $dark-blue;
    color: $secondary;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    .charge-section-content {
        max-width: 580px;
        padding: 50px;
        .button-container{
            display: block;
            width: 200px;
        }
    }

    .charge-section-image {
        position: relative;
        max-width: 50%;
        height: auto;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(270deg, rgba(40, 55, 74, 0) 0%, #28374A 100%);
            pointer-events: none;
        }
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    @media (max-width: 768px) {
        flex-direction: column;

        .charge-section-image {
            max-width: 100%;
            margin-top: 20px;
        }
    }
}