.site-header {
  background-color: #222;
  border-bottom: 1px solid #444;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-branding {
    .site-logo {
      width: 100px;
      height: auto;
      margin-left: 40px;
    }
  }

  .main-navigation {
    margin-right: 40px;

    .menu {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 5rem;

      > li {
        position: relative;

        a {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 300;
          font-family: 'Montserrat';
          transition: color 0.3s;

          &:hover {
            color: #f0f0f0;
          }
        }

        &.menu-item-has-children {
          > a::after {
            content: '▼';
            font-size: 10px;
            margin-left: 8px;
            color: #fff;
            transition: transform 0.3s;
          }

          &:hover > a::after {
            transform: rotate(180deg);
          }

          .sub-menu {
            display: block;
            position: absolute;
            background-color: #222;
            list-style: none;
            margin: 0;
            padding: 0;
            top: 100%;
            left: -20px;
            width: 250px;
            z-index: 1000;

            /* Ukrycie na start */
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

            li {
              border-bottom: 1px solid #ffffff;
              padding: 0;

              a {
                display: block;
                text-align: left;
                padding: 26px 10px;
                text-decoration: none;
                color: #fff;
                font-size: 14px;
              }
            }

            li:last-child {
              border-bottom: none;
            }
          }

          &:hover > .sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
