.contact-text {
    max-width: 600px;
    h2 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 25px;
        font-family: 'EB Garamond';
    }
    .header-contact-item{
        text-transform: uppercase;
        margin-bottom: 25px;
        li{
            font-weight: 700;
            color: $secondary;
            .header-contact-title {
                color: $blue;
                font-size: 16px;
            }
        }
    }
    p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        max-width: 600px;
        height: 220px;
        display: block;
        border-radius: 8px;
        margin-bottom: 25px;
    }
}