.contact-text {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 220px;

    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        max-width: 480px;
        height: 380px;
        display: block;
        border-radius: 8px;
    }
}