.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: $blue;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.custom-button:hover {
    background-color: lighten($blue, 10%);
}