.about-me-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    background-color: #f9f9f9;
}

.about-me-section .about-me-text {
    max-width: 50%;
    padding-left: 80px;
}

.about-me-section .about-me-text h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.about-me-section .about-me-text p {
    font-size: 1em;
    max-width: 350px;
    line-height: 1.5;
}

.about-me-section img {
    height: auto;
    margin-left: 100px;
    max-width: 60%;
}